[submodule "Making-website"]
	path = Making-website
	url = https://github.com/Itsbeenalongday/Making-website.git
[submodule "Frontend-javascript"]
	path = Frontend-javascript
	url = https://github.com/Itsbeenalongday/Frontend-javascript.git
[submodule "First-blog"]
	path = First-blog
	url = https://github.com/Itsbeenalongday/First-blog.git
[submodule "Healing-blog"]
	path = Healing-blog
	url = https://github.com/Itsbeenalongday/Healing-blog.git
[submodule "Ruby-on-Rails-reference"]
	path = Ruby-on-Rails-reference
	url = https://github.com/Itsbeenalongday/Ruby-on-Rails-reference.git
[submodule "Internet"]
	path = Internet
	url = https://github.com/Itsbeenalongday/Internet.git
[submodule "Blog_project"]
	path = Blog_project
	url = https://github.com/Itsbeenalongday/Blog_project.git
[submodule "Rails_project"]
	path = Rails_project
	url = https://github.com/Itsbeenalongday/Rails_project.git
[submodule "Spring-Project"]
	path = Spring-Project
	url = https://github.com/Itsbeenalongday/Spring-Project.git
[submodule "Agileboard-backend"]
	path = Agileboard-backend
	url = https://github.com/9oominsoo/Agileboard-backend.git
[submodule "agileboard"]
	path = agileboard
	url = https://github.com/9oominsoo/agileboard.git
[submodule "Cafe-Takeout-Reservation"]
	path = Cafe-Takeout-Reservation
	url = https://github.com/Itsbeenalongday/Cafe-Takeout-Reservation.git
[submodule "API-TEST"]
	path = API-TEST
	url = https://github.com/Itsbeenalongday/API-TEST.git
