[submodule "Making-website"]
	path = Making-website
	url = https://github.com/Itsbeenalongday/Making-website.git
[submodule "Frontend-javascript"]
	path = Frontend-javascript
	url = https://github.com/Itsbeenalongday/Frontend-javascript.git
[submodule "First-blog"]
	path = First-blog
	url = https://github.com/Itsbeenalongday/First-blog.git
[submodule "Healing-blog"]
	path = Healing-blog
	url = https://github.com/Itsbeenalongday/Healing-blog.git
[submodule "Ruby-on-Rails-reference"]
	path = Ruby-on-Rails-reference
	url = https://github.com/Itsbeenalongday/Ruby-on-Rails-reference.git
[submodule "Spring-project"]
	path = Spring-project
	url = https://github.com/Itsbeenalongday/freelec-springboot2-webservice.git
[submodule "Internet"]
	path = Internet
	url = https://github.com/Itsbeenalongday/Internet.git
